.deps/
ChangeLog
Makefile.in
aclocal.m4
autom4te*
config.guess
config.sub
config.log
config.status
configure
depcomp
Makefile
install-sh
missing
compile
NEWS
AUTHORS
README
autohdr.h
hyperrogue
hyperrogue-hyper.o
hyperrogue-savepng.o
langen
langen-langen.o
language-data.cpp
makeh
makeh.o
